@model IEnumerable<Models.ActivoModel>

@{
    ViewData["Title"] = "selec_ActivoCalcular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Elije el activo a Calcular  <i class="fa-solid fa-calculator fa-fade"></i> :</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.caracteris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.idMetDepre)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.valorLibros)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.depreAcumulada)
            </th> *@
@*             <th>
                @Html.DisplayNameFor(model => model.codFuncionario)
            </th> *@
           @*  <th>
                @Html.DisplayNameFor(model => model.idTipoActivo)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descrip)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.fechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.caracteris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costo)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.idMetDepre)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.valorLibros)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.depreAcumulada)
            </td> *@
@*             <td>
                @Html.DisplayFor(modelItem => item.codFuncionario)
            </td> *@
        @*     <td>
                @Html.DisplayFor(modelItem => item.idTipoActivo)
            </td> *@
            <td>
                    <a asp-action="calculoActivoSeleccionado" asp-route-id="@item.cod" class="btn btn-info">Calcular este Activo <i class="fa-solid fa-pen-to-square"></i></a>
            </td>
            <td>
                    <a asp-action="verPeriodosCalculados" asp-route-id="@item.cod" class="btn btn-warning">Ver Periodos Calculados <i class="fa-solid fa-eye"></i> </a>
            </td>
                <td>
                    <a asp-action="verPeriodosAProbados" asp-route-id="@item.cod" class="btn btn-success">Ver Periodos Aprobados <i class="fa-solid fa-eye"></i> </a>
                </td>
        </tr>
}
    </tbody>
</table>
